<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodBikeAndroid">
        
        <!-- Main/Splash Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Auth Activities -->
        <activity android:name=".ui.auth.SignInActivity"
            android:exported="false" />
        <activity android:name=".ui.auth.SignUpActivity"
            android:exported="false" />
        
        <!-- Dashboard Activities -->
        <activity android:name=".ui.dashboard.AdminDashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.UserDashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.EntrepreneurDashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.BikerDashboardActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.RestaurantDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.UserDashboardActivity" />
        
        <!-- Order Activities -->
        <activity android:name=".ui.order.CartActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.RestaurantDetailActivity" />
        <activity android:name=".ui.order.OrderConfirmationActivity"
            android:exported="false"
            android:parentActivityName=".ui.order.CartActivity" />
        <activity android:name=".ui.order.OrderSuccessActivity"
            android:exported="false" />
        
        <!-- Restaurant Application -->
        <activity android:name=".ui.dashboard.RestaurantApplicationActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.EntrepreneurDashboardActivity" />
        
        <!-- My Applications -->
        <activity android:name=".ui.dashboard.MyApplicationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.EntrepreneurDashboardActivity" />
        
        <!-- Manage Menu -->
        <activity android:name=".ui.dashboard.ManageMenuActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.EntrepreneurDashboardActivity" />
        
        <!-- Restaurant Orders -->
        <activity android:name=".ui.dashboard.RestaurantOrdersActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.EntrepreneurDashboardActivity" />
        
        <!-- Admin Review Applications -->
        <activity android:name=".ui.dashboard.AdminReviewApplicationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.AdminDashboardActivity" />
        
        <!-- Application Detail -->
        <activity android:name=".ui.dashboard.ApplicationDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.AdminReviewApplicationsActivity" />
        
        <!-- Admin Manage Restaurants -->
        <activity android:name=".ui.dashboard.AdminManageRestaurantsActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.AdminDashboardActivity" />
        
        <!-- Admin Edit Menu -->
        <activity android:name=".ui.dashboard.AdminEditMenuActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.AdminManageRestaurantsActivity" />
        
        <!-- Biker Available Orders -->
        <activity android:name=".ui.dashboard.BikerAvailableOrdersActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.BikerDashboardActivity" />
        
        <!-- Biker Order Detail -->
        <activity android:name=".ui.dashboard.BikerOrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.BikerAvailableOrdersActivity" />
        
        <!-- Biker My Deliveries -->
        <activity android:name=".ui.dashboard.BikerMyDeliveriesActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.BikerDashboardActivity" />
        
        <!-- Biker History -->
        <activity android:name=".ui.dashboard.BikerHistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.BikerDashboardActivity" />
        
        <!-- User Order History -->
        <activity android:name=".ui.dashboard.UserOrderHistoryActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.UserDashboardActivity" />
        
        <!-- File Provider for export -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
            
    </application>

</manifest>